section {
    border: 1px solid red;
    height: fit-content;
    padding: 5em;
    display: flex;
    justify-content: center;
    
    article {
        width: 250px;
        height: 250px;
        background: url(./imagenes/a.jpg);
        background-repeat: no-repeat;
        background-position: 0%;
        background-size: contain;
        position: relative;

        p {
            width: 90px;
            height: 90px;
            background: lightblue;
            position: absolute;
            top: -30%;
            left: 30%;
            text-align: center;
            align-content: center;
            font-size: 3em;
        }
    }
}
