section {
    border: 1px solid red;
    height: fit-content;
    padding: 5em;
    display: flex;
    justify-content: center;
    
    article {
        width: 250px;
        height: 250px;
        background: url(./imagenes/a.jpg);
        background-repeat: no-repeat;
        background-position: 0%;
        background-size: contain;
        position: relative;

        p {
            width: 90px;
            height: 90px;
            background: lightblue;
            position: absolute;
            top: -30%;
            left: 30%;
            text-align: center;
            align-content: center;
            font-size: 3em;
        }
    }
}

body {
    font-family:  Arial, Helvetica, sans-serif;

}

article p {
  position: absolute;
  top: -30%;
  left: 35%;
  background-color: #a8d0e6;
  color: #24305e;
  font-weight: bold;
  width: 80px;
  height: 80px;
  text-align: center;

}

main {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #2a4d69;
  margin-bottom: 20px;
  border-bottom: 2px solid #4b86b4;
  display: inline-block;
  padding-bottom: 5px;

}

button {
  background-color: #4b86b4;
  color: white;
  border: none;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: #2a4d69;
  transform: scale(1.08);
}

